@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<h2>People from <code>@Model.PersonProviderTypeName</code></h2>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var person in Model.People)
    {
      <tr>
        <td>@person.FirstName</td>
        <td>@person.LastName</td>
        <td>@person.Age</td>
      </tr>
    }
  </tbody>
</table>
